:root {
    --h1-font-family: "Outfit-Bold", Helvetica;
    --h1-font-weight: 700;
    --h1-font-size: 65px;
    --h1-letter-spacing: 0px;
    --h1-line-height: 75px;
    --h1-font-style: normal;
  }
  